<Layouts.app flash={@flash}>
  <.header>
    Edit Session {@session.id}
    <:subtitle>Use this form to manage session records in your database.</:subtitle>
  </.header>

  <.session_form
    changeset={@changeset}
    action={~p"/the_maestro_web/sessions/#{@session}"}
    return_to={~p"/the_maestro_web/sessions"}
  />
</Layouts.app>
