<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:last_used_at]} type="datetime-local" label="Last used at" />
  <footer>
    <.button variant="primary">Save Session</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
